# Archivos de VS Code
.vscode/

# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos generados por Python
__pycache__/
*.pyc
*.pyo

# Pruebas temporales (si las creaste)
temp_tests/

# Exclude egg-info directory
*.egg-info/

# Exclude build artifacts
build/
dist/